h1 {
    color: #9336B4;
}
html {
    background-color:#DD58D6
}
#result {
    color: aliceblue;
}
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #40128B
}
h1.redish{
    color:  #40128B;
    font-family:cursive;
    font-style: italic;
}
e1{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}